# Planetary data

This notebook provides the planetary data for the simulation

Author: Sandro Ricardo De Souza: <sandro.fisica@gmail.com>

## Import modules

In [3]:
import numpy as np
import pandas as pd

## Create planets data
### J2000

Data sequence: 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'

In [6]:
# Planet's names
planets_name = ['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Semi-axis [au]
a = np.array([0.72333199, 1.00000011, 1.52, 5.20, 9.58, 19.20, 30.05])

# Eccentricity
e = np.array([0.00677323, 0.01671022, 0.094, 0.049, 0.057, 0.046, 0.011])

# Inclination [deg]
i = np.array([3.39471, 0.0, 1.9, 1.3, 2.5, 0.8, 1.8])

# Long. of ascending node [deg]
capom = np.array([76.68069])

# arg. of peri. [deg]
omega = np.array([131.53298])

# Mean anomaly [deg]
M = np.array([181.97973])

# Mass [kg]
mass = np.array([4.8675, 5.97, 0.642, 1898, 568, 86.8, 102]) * 1e24

# Equatorial radius [km]
radio = np.array([6051.8])

# Period [days]
period = np.array([224.701, 365.2, 687.0, 4331, 10747, 30589, 59800])

In [7]:
mass

array([  4.87000000e+24,   5.97000000e+24,   6.42000000e+23,
         1.89800000e+27,   5.68000000e+26,   8.68000000e+25,
         1.02000000e+26])

In [8]:
planets = pd.read_csv('Planets/Planets.csv', index_col='planet')
planets

          a     e  i     x   vx
planet
Venus   0.7  0.02  2  0.34  3.4
Earth   1.0  0.03  3  0.45 -2.3
Mars    2.3  0.04  4  0.54 -3.2

In [15]:
planets['vy'] = plabets[vx] *

-3.2000000000000002

In [17]:
planets['vy'] = planets.vx * 2

In [18]:
planets

          a     e  i     x   vx   vy
planet
Venus   0.7  0.02  2  0.34  3.4  6.8
Earth   1.0  0.03  3  0.45 -2.3 -4.6
Mars    2.3  0.04  4  0.54 -3.2 -6.4